.btns button {
  margin: 15px;
  display:block;
  color:#fff;
  background-color: #6534ac; 
  border: none;
  padding: 15px 30px;
  font-size: 16px;
  font-weight: 600;
  border-radius:5px;
  transition: box-shadow 180ms ease-in;
}

input, textarea {
border-radius: 5px;
margin-bottom: 10px;
width: 70%;
}

textarea {
    height: 200px;
}

.main {
  background-color: #3802b8;
  height: 100vh;
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: center
}

@media screen and (max-width: 660px) {
  .main {
    flex: 1;
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

